/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  body {
    font-family: Roboto, Verdana, sans-serif;
  }
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/
  header {
    background-color: #1F2937;
    color: #fff;
    padding: 10px 10vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }
  .logo {
    font-size: 24px;
    font-weight: 800;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0;
  }
  .hero-text, .hero-image {
    width: 50%;
    padding: 32px;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-image {
    padding-right: 0;
  }
  .hero-text {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding-left: 0;
  }
  .hero-text h1 {
    font-size: 48px;
    font-weight: 900;
  }

  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;
  }
  .services-section h2 {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 32px;
  }
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
  }
  .service-icon {
    width: 160px;
    height: 160px;
    border: 2px solid #3882F6;
    border-radius: 8px;
  }
  .service-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .service-text {
    max-width: 160px;
  }

  .quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 10vh 10vw;
  }
  .quote-section blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
  }
  .quote-section footer {
    font-weight: 900;
    text-align: right;
    padding-top: 24px;
  }
  .btn-2:hover {
    background-color: white;
    border: 2px solid #3882F6;
    color: #3882F6;
  }
  .cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
  }
  .cta-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    background-color: #3882F6;
    padding: 64px;
    color: white;
    border-radius: 8px;
  }
  .cta-text h4 {
    padding-bottom: 8px;
  }
  
  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 10vw;
  background-color: #1F2937;
  color: #fff;
}

  /*----------------------------------------------
  ------------------------------------------------
  8. Generic Styles
  ------------------------------------------------
  ----------------------------------------------*/
  a:link {
    text-decoration: none;
    color: #fff;
  }
  a:visited {
    color:rgb(219, 237, 252);
  }
  a:hover {
    color: #3882F6;
  }
  
  .btn {
    padding: 10px 30px;
    flex-grow: 0;
    border-radius: 8px;
  }
  .btn-1 {
    background-color: #3882F6;
  }
  .btn-1:hover {
    background-color: white;
    color: #3882F6;
  }
  .btn-2 {
    background-color: #3882F6;
    border: 2px solid white;
  }